.row.start-xs.col-xs-12
	.col-xs-12.text-field
		input(v-model = 'rows', 
			placeholder = 'Rows',
			id = 'rows',
			name = 'rows'
			type = 'number')
	.col-xs-12.text-field
		input(v-model = 'cols', 
			placeholder = 'Columns',
			id = 'cols',
			name = 'cols'
			type = 'number')
	.col-xs-12.text-field
		input(v-model = 'mines', 
			placeholder = 'Number of mines',
			id = 'mines',
			name = 'mines'
			type = 'number')
	.col-xs-12.start-xs
		button.create-game-button(@click='createGame()') Create Game
