.cell-box
    border-radius: 15%
    border: 2px solid #000
    box-sizing: border-box
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    width: 40px
    height: 40px
    padding: 0
    margin-top: 0
.covered
	background-image: url('./assets/covered.png')
.red-flag
	background-image: url('./assets/redFlag.png')
.exploded
	background-image: url('./assets/exploded.png')
