body
	margin: 0	
	padding: 0
#app
	font-family: 'Avenir', Helvetica, Arial, sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	text-align: center
	color: #253b56
	margin-top: 60px
	font-size: 14px
.padded-container
	padding: 15px
	margin: auto
div
	margin-top: 10px
.game-info-box
	border: 1px solid #2c3e50
	border-radius: 2px
	padding-bottom: 10px
span
	margin-right: 5px
.my-account-link
	cursor: pointer
	font-weight: 700
button
	background: #253b56
	color: #FFF
	border-radius: 1px
	cursor: pointer
.fs-bold
	font-weight: 700
.congrats-title
	font-size: 18px
	color: #FF0000
	margin: 15px
	padding: 15px
