section.center-xs.col-xs-12.col-md-6.register-content-container
	.center-xs Register your account
	.center-xs.col-xs-12
		.col-xs-12.text-field
			input(type = 'text',
				class = 'pl-0 name',
				placeholder = 'Name',
				id = 'name',
				name = 'name',
				v-model = 'name')
		.col-xs-12.text-field
			input(v-model = 'email', 
				class = 'email',
				placeholder = 'Email',
				id = 'email',
				name = 'email'
				type = 'text')
		.col-xs-12.text-field
			input(v-model = 'password',
				class = 'password',
				placeholder = 'Password',
				id = 'password',
				name = 'password',
				type = 'password')
		.row.col-xs-6.buttons-row.center-xs
			button.register-button(@click='signUp()') Sign Up
