section.center-xs.col-xs-12.col-md-6.login-content-container
	.col-xs-12.center-xs Log in to your account
	.center-xs.col-xs-12
		.col-xs-12.text-field
			input(v-model = 'email', 
				class = 'email',
				placeholder = 'Email',
				id = 'email',
				name = 'email'
				type = 'text')
		.col-xs-12.text-field
			input(v-model = 'password',
				class = 'password',
				placeholder = 'Password',
				id = 'password',
				name = 'password',
				type = 'password')
		.row.col-xs-6.buttons-row
			.col-xs-12.col-md-6
				button.login-button(@click='signIn()') Sign in
			.col-xs-12.col-md-6
				button.register-button(@click='signUp()') Sign Up
		.row.col-xs-12.center-xs.forgot-password.my-account-link Forgot password?
