.board-container
	.row.board-row.col-xs-12(v-for = '(n, rowCounter) in game.rows')
		mine-sweeper-cell(v-for = '(m, colIndex) in game.cols'
			:cell = 'game.cells[(game.cols * rowCounter + colIndex)]'
			:time = 'game.time'
			:game-id = 'game._id.$oid'
			:status = 'game.cells[(game.cols * rowCounter + colIndex)].cell_status'
			:position-in-array = '(game.cols * rowCounter + colIndex)'
			@update = "updateGame")
